/* TODO: Make it awesome */

*{
    box-sizing: border-box;
}

body{
    background-color: lightsteelblue;
    color:rgb(51, 59, 67);
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat:no-repeat;
    background-size:cover;
}

body>header{
    border-top:1rem solid lightcoral;
    background: url('backgroundTwo.jpg');
    height:300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-repeat:no-repeat;
    background-size:cover;
}

div>header{
    background-color: rgb(65, 75, 85);
    color:white;
    -webkit-box-shadow: 0 10px 6px -6px rgb(109, 126, 145);
    box-shadow: 0 10px 6px -6px rgb(109, 126, 145);
}

header,
main,
footer{
    width:960px;
    margin:auto;
    background-color: #708090;
    
}

body>header>h1{
    font-weight: bold;
    font-size: 3.5rem;
    color:white;
    text-shadow:
    -2px -2px 0 blue,  
     2px -2px 0 blue,
     -2px 2px 0 blue,
      2px 2px 0 blue;
    background-color:whitesmoke;
    opacity: 0.8;
    padding:1rem;
    border-radius: 3px;
    border:1px solid lightgrey;
    width:350px;
}

h1{
    font-size: 2rem;
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-around;
}

nav{
    display: block;
}

li a{
    margin:3rem;
    font-size: 3rem;
    text-decoration: none;
    color:whitesmoke;
    font-weight:bold;
    text-shadow:
     -2px -2px 0 lightcoral,  
      2px -2px 0 lightcoral,
      -2px 2px 0 lightcoral,
       2px 2px 0 lightcoral;
}

li a:hover{
   color:lightgreen;
}

li{
    margin:2rem;
}

.copy{
    display: flex;
    justify-content: center;
}

th{
    padding: 1rem 5rem;
    background-color: lightcoral;
}

td{
    text-align: center;
    padding:10px;
}

legend{
    text-align:center;
    color:white;
    font-weight:bold;
}

fieldset{
    align-items: center;
    height:5rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

input[type='submit']{
    font-size: 1.3rem;
    color:white;
    border:none;
    border-radius: 3px;
    transition-duration: 350ms;
    background-color: darkslategrey;
}

input[type='submit']:hover{
    background-color: rgb(218, 114, 76);
    font-size: 1.3rem;
    color:white;
    transition-duration: 350ms;
    transform: scale(1.05);
}

input[type='submit']:active{
    transform: scale(1);
}


form{
    width:100%;
}

#cartContents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(216, 234, 245);
    height:auto;
    border-radius: 3px;
    border:1px solid slategray;
}

#cart-container{
    display: flex;
    justify-content: center;
}

#cartContents p{
    margin:1rem;
}



footer p{
    padding:3rem;
    margin: auto;
    width: 300px;
}

h1,
nav{
    padding:0.5rem;
    margin: auto;
    width: 300px;
}

img{
    width:250px;
    height:350px;
    border-radius: 3px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    margin-bottom:1rem;
}


footer{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

#itemCount{
    color:lightcoral;
    font-size: 2.2rem;
    text-shadow:
    -2px -2px 0 whitesmoke,  
     2px -2px 0 whitesmoke,
     -2px 2px 0 whitesmoke,
      2px 2px 0 whitesmoke;
    font-weight: bold;
}